* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root {
    --preto-principal: #111111;
    --cinza--branco: #44454e;
    --cinza--navbar: #faf8f8;
    --cinza-basico: #DDE1E6;
    --dourado-principal: #C5AB67;
    --dourado-navbar: #DFCC8C;
    --dourado-quadrados: #A7967D;
    --dourado-inputs: #CFB767;
    --preto-botao: #22232F;
    --cinza-titulo: #666472;
    --cinza-fundo: #e6e7eb;
    --fundo-telaHome1: #f8f6f2;
    --cinza-telaFundo1: #DCDCDC;
    --cinza-destaque: #808080;
    --preto-secundario: #1C1C1C;
    --cinza-gelo: #C0C0C0;
}

html,
body {
    width: 100%;
    height: 100%;

    background-color: white;
}

.card_erro {
    display: none;
    background-color: var(--cinza-gelo);
    color: var(--preto-principal);
    width: 20%;
    position: fixed;
    border-radius: 4px;
    border: var(--preto-principal) 3px solid;
    padding: 1%;
    margin-right: 2%;
}

.card_erro span {
    font-weight: 500;
    font-size: 20px;
}

#alertaLogin {
    display: flex;
    justify-content: flex-start;
}

#alertaCadastro {
    display: flex;
    justify-content: flex-start;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbarItens {
    width: 80%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

.navbarItens a {
    color: var(--preto-principal);
    text-decoration: none;
    transition: transform 0.3s;
}

.navbarItens a:hover {
    color: var(--cinza-gelo);
    transform: scale(1.1);
}

.navbarItens li {
    position: relative;
}

.navbarItens li::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--cinza-gelo);
    transition: width 0.3s ease-in-out;
}

.navbarItens li:hover::after {
    width: 100%;
}

.logoNavbar {
    width: 10%;
}

.logoNavbar img {
    width: 90%;
    transition: transform 0.3s;
    display: flex;
   align-items: flex-start;

   cursor: pointer;
}

.logoNavbar img:hover{
    transform: scale(1.1);
}

#linhaHorizontal, #linhaHorizontal-Cadastro {
    width: 60%;
    border: 0.1px solid #000000;
}

#linhaHorizontal-Cadastro{
    margin-top: 10px;
}

.painelDeslizante {
    position: absolute;
    z-index: 10000;
    width: 50%;
    left: 50%;
    height: 100%;
    left: 50%;
    background-color: var(--dourado-principal);
    transition: transform 0.5s ease-in-out;

    
    background-image: url(../img/satisfacao-do-cliente.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  
}

#section-login,
#section-cadastro {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Login */
#section-login {
    display: flex;
    justify-content: space-between;

    display: flex;
    align-items: center;
}



#container-mensagem {
    width: 60%;
    height: 20%;
    margin-top: 8%;
    margin-bottom: 2%;
}

#container-mensagem img {
    width: 15%;
    margin-bottom: 1%;
}

.containerInputsLogin {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-color: white;
    border-radius: 10%;
}

.containerInputsLogin p {
    width: 60%;
    margin: 1%;

    font-size: medium;
}

.inputsLogin {
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputsLogin input {
    width: 60%;
    height: 40%;
    padding: 10px;

    border-radius: 1vh;
    background-color: #f8f6f2;
    border-color: var(--dourado-principal);
}

#container-buttons-login {
    width: 100%;
    height: 30%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container-buttons-login a {
    text-decoration: none;
    color: var(--dourado-principal);
}

#button-logar {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 1%;
}

#button-logar button {
    width: 60%;
    height: 60%;
    padding: 3%;
    

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--preto-principal);
    border-color: var(--preto-principal);
    color: white;
    border-radius: 1vh;

    cursor: pointer;
}

/* Cadastro */
#section-cadastro {
    display: flex;
    justify-content: space-between;

    display: flex;
    align-items: center;
}

.containerInputsCadastro {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-color: white;
    border-radius: 10%;
    gap: 1%;
}

.containerInputsCadastro p {
    width: 60%;
    margin: 1%;

    font-size: medium;
}

.inputsCadastro {
    width: 100%;
    height: 22%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsCadastro input {
    width: 60%;
    height: 55%;
    padding: 10px;

    background-color: #f8f6f2;
    border-color: var(--dourado-principal);
    border-radius: 1vh;
}

#container-mensagem-cadastro {
    width: 60%;
    height: 20%;
}

#container-mensagem-cadastro img {
    width: 15%;
    margin-bottom: 1%;
}

#container-buttons-cadastro {
    width: 100%;
    height: 20%;
    
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

   gap: 8%;
}

#container-buttons-cadastro a {
    text-decoration: none;
    color: var(--dourado-principal);
}

#button-cadastrar {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#button-cadastrar button {
    width: 60%;
    height: 60%;
    padding:3%;
    

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--preto-secundario);
    border-color: var(--preto-secundario);
    color: white;
    border-radius: 1vh;

    cursor: pointer;
}
