* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
  }
  
  body {
   background-color: #e6e7eb;
  }
  
  :root {
    --preto-principal: #111111;
    --cinza--branco: #44454e;
    --cinza--navbar: #faf8f8;
    --cinza-basico: #DDE1E6;
    --dourado-principal: #C5AB67;
    --dourado-navbar: #DFCC8C;
    --dourado-quadrados: #A7967D;
    --dourado-inputs: #CFB767;
    --preto-botao: #22232F;
    --cinza-titulo: #666472;
    --cinza-fundo: #e6e7eb;
    --fundo-telaHome1: #f8f6f2;
    --cinza-telaFundo1: #DCDCDC;
    --cinza-destaque: #808080;
    --preto-secundario: #1C1C1C;
  }
  
  button {
    cursor: pointer;
  }
  
  /* Section - Menu lateral */
  .barraLateral {
    background-color: #111111;
    width: 16%;
    height: 100vh;
    position: fixed;
  }
  
  .div-logo {
    width: 100%;
    height: 10%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-logo p {
    color: #44454e;
  }
  
  .div-logo img {
    width: 22%;
  }
  
  .div-user {
    height: 30%;
    padding-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .div-buttons {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6%;
  }
  
  .div-buttons .button-menu-lateral {
    width: 130px;
    height: 5vh;
    border-radius: 5px;
    background-color: #44454e;
    color: #fff;
  }
  
  .div-sair {
    height: 10%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .div-sair a {
    text-decoration: none;
  }
  
  .div-sair button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
  
    background-color: #fff;
    color: #44454e;
  }
  
  /* Centralização da container e cards */
  .container {
    width: 84%;
    height: 100vh;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .editar-funcionario {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .adicionar-funcionario {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-editar {
    width: 60%;
    height: 90vh;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .card-adicionar {
    width: 60%;
    height: 80vh;
    background-color: #fff;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .styled-button {
    width: 23%;
    height: 5vh;
    background-color: #00c21d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    width: 23%;
    height: 5vh;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-actions {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .cancel-button {
    width: 23%;
    height: 5vh;
    background-color: var(--cinza-destaque);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button{
    width: 23%;
    height: 5vh;
    background-color: #dbbb1b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .card-adicionar h1 {
    width: 100%;
    margin-bottom: 5%;
  
    display: flex;
    justify-content: center;
  }
  
  .card-editar h1 {
    width: 100%;
    margin-bottom: 5%;
  
    display: flex;
    justify-content: center;
  }
  
  .card-adicionar input {
    width: 60%;
  }
  
  .container button {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .form-group label {
    color: var(--cinza-titulo);
    margin-bottom: 5px;
    justify-content: center; 
    align-items: center;
    margin-left: 12%;
    margin-top: 2%;
  }
  
  .form-group select {
    margin-left: 12%;
    width: 80%;
    padding: 10px;
    border: 1px solid var(--cinza-basico);
    border-radius: 5px;
    font-size: 14px;
  }
  
  
  .form-group input {
    margin-left: 12%;
    width: 80%;
    padding: 10px;
    border: 1px solid var(--cinza-basico);
    border-radius: 5px;
    font-size: 14px;
  }
  
  .card-adicionar .add-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .styled-button {
    background-color: #111111;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #botoes-editar {
    width: 100%;
  
    display: flex;
    justify-content: space-around;
  }
  
  .container button {
    margin-top: 4%;
  }

  
  