* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root {
    --preto-principal: #111111;
    --cinza--branco: #44454e;
    --cinza--navbar: #faf8f8;
    --cinza-basico: #DDE1E6;
    --dourado-principal: #C5AB67;
    --dourado-navbar: #DFCC8C;
    --dourado-quadrados: #A7967D;
    --dourado-inputs: #CFB767;
    --preto-botao: #22232F;
    --cinza-titulo: #666472;
    --cinza-fundo: #e6e7eb;
    --fundo-telaHome1: #f8f6f2;
}

body {
    color: var(--cinza--branco);
    font-family: "Roboto", sans-serif;
    background-color: var(--fundo-telaHome1);
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    /* background: linear-gradient(45deg, #f5f3ed 0%, #F0EEE8 100%);
    background: linear-gradient(45deg, #F0EEE8, #F0EEE8); */
    border-bottom: 1px solid var(--dourado-principal);
    padding: .625rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-navbar {
    width: 11.875rem;
    margin: auto;
}

.menu-desktop {

    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: black;
    gap: 20px;
}

ul{

    display: flex;
    gap: 60px;
}

.menu-desktop li::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--dourado-navbar);
    transition: width 0.3s ease-in-out;
}

.menu-desktop li:hover::after {
    width: 100%;
}


.navbar-button {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

a {
    color: black;
    text-decoration: none;
    transition: transform 0.3s;
}

a:hover {
    color: var(--dourado-navbar);
    transform: scale(1.1);
}

.header .container {
    justify-content: space-between;
}

button.login-button,
button.button-nossa-equipe {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    margin-left: 1.25rem;
}

button.button-nossa-equipe {
    border: 2px solid var(--dourado-navbar);
}

button.login-button:hover {
    background-color: var(--preto-botao);
    color: white;
}

button.button-nossa-equipe:hover {
    color: var(--dourado-navbar);
}

.main-content {
    /* background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    background: linear-gradient(45deg, #190361, #bb00ff); */
    background: linear-gradient(45deg, #f5f3ed 0%, #F0EEE8 100%);
    background: linear-gradient(45deg, #F0EEE8, #F0EEE8);
    width: 98%;
    height: 900px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-align: center;
    padding-left: 200px;
    text-align: justify;
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    border-radius: 25px;
}

.main-content-texts {
    flex: 1;
}

.main-content-image {
    flex: 1;
    max-width: 40%;
    text-align: right;
    margin-right: 50px;
    border-radius: 20px;
}

.main-content-image img {
    width: 100%;
    height: auto;
}

.main-content-texts .main-content-title {
    display: flex;
    padding: 2.5rem 0 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 3.3125rem;
    color: black;
    max-width: 39.75rem;
    line-height: 1.3;
    text-align-last: left;
    text-align: justify;
}

.main-content-texts .main-content-subtitle {
    font-size: 1.125rem;
    color: #132b3f;
    font-weight: 700;
    max-width: 37.5rem;
    line-height: 1.7;
    padding-bottom: 1.875rem;
}

.main-content-p {
    font-size: 70px;
    color: var(--preto-principal);
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
    margin-right: 50px;
}

.back-simple {
    display: flex;
    justify-content: center;
    width: 235px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

.main-content-simleText {
    background-color: white;
    padding-top: 5px;
    color: black;
    text-align: center;
}

.main-content-button1 {
    width: 160px;
    height: 55px;
    margin: auto;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #D8DADE;
    color: black;
}

.main-content-button2 {
    width: 160px;
    height: 55px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: var(--preto-botao);
}

.main-content-button:hover {
    background-color: #AAABAB;
    transition: background-color 0.3s;
    transform: translateY(-3px);
    box-shadow: 0px 6px 8px rgba(3, 3, 3, 0.2);
    transition: 1ms;
}


button {
    background-color: var(--roxo-principal);
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.1);

}

.container-nossa-solucao,
.container-sobre-nos,
.content-nossa-solucao {
    background-color: var(--cinza-fundo);
    width: 100%;
    text-align: center;
}

.container-sobre-nos .container-nossa-solucao,
.content-nossa-solucao {
    background-color: white;
}

.nossa-solucao-title,
.nossa-solucao-title2,
.nossa-solucao-title3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--preto-principal);
    margin-bottom: 60px;
}

.nossa-solucao-title2 {
    margin-left: 50px;
}

.nossa-solucao-title3 {
    margin-left: 110px;
}

.content-nossa-solucao {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 100px;
    padding: 5%;
}

.content-nossa-solucao-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-nossa-solucao-escrito-card img {
    position: relative;
    margin: .5rem 3.75rem 0 6.25rem;
}

/*Section Projetos*/

.container-aevus-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.container-aevus-infinity {
    width: 330px;
    height: 330px;
    border: 2px solid black;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.circle {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;
}

.projetos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--fundo-telaHome1);
}

.container-projetos {
    background: url('../img/airport.svg');
    display: flex;
    width: 100%;
    max-width: 1633px;
    height: 472px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.container-projetos-title {
    font-family: "Roboto", sans-serif;
    color: white;
    position: absolute;
    bottom: 77px;
    left: 20px;
}

.container-projetos-paragrafo,
.container-projetos-paragrafo2 {
    font-family: "Roboto", sans-serif;
    color: white;
}

.container-projetos-paragrafo {
    position: absolute;
    bottom: 77px;
    right: 65px;
    padding-bottom: 10px;
    font-size: 30px;
}

.container-projetos-paragrafo2 {
    position: absolute;
    bottom: 60px;
    right: 20px;
}

/* Estilos para os quadrados */
.projetos-quadrados {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
}

.container-quadrados {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 15px;
    width: 520px;
    height: 291px;
    background-color: var(--dourado-quadrados);
    color: white;
    border-radius: 20px;
}

.img-quadrados {
    height: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 60px;
}

.container-quadrados-title {
    font-size: 24px;
    font-weight: 600;
}

.container-quadrados p {
    margin-bottom: 10px;
    text-align: start;
    font-weight: 500;
}

/* Section sobre nós */
.container-sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-telaHome1);
    margin: 40px 0 .625rem;
    padding: .625rem 0 4.375rem;
}

.content-nossa-solucao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    padding: 0%;
    background-color: var(--fundo-telaHome1);
}

/*Section Fale conosco*/
.fale-conosco-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F0EEE8;
    align-items: center;
    padding: 0 0 60px;
}

.content-fale-content-titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;
    padding: 15px;
}

.fale-conosco-paragrafo {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
}

.group {
    position: relative;
    padding-bottom: 30px;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: var(--dourado-inputs);
}

.bar {
    position: relative;
    display: block;
    width: 500px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: var(--dourado-inputs);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

.container-text-area-title {
    font-size: 18px;
    opacity: 0.7;
    transition: color 0.5s ease;
}

textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    border: 2px solid #ccc;

    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    transition: border-color 0.5s ease;
}

.container-text-area-title.focused {
    color: var(--dourado-inputs);
    opacity: 1;
}

textarea:focus {
    border-color: var(--dourado-inputs);
    outline: none;
}


textarea::placeholder {
    color: #999;
    font-style: "Roboto", sans-serif;
    font-size: 16px;
    opacity: 1;
}

button.fale-conosco-button {
    background-color: var(--preto-botao);
}

/*Footer*/

.footer {
    width: 100%;
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #1a242f;
}

.footer-content h4 {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.container-img {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.container-img img {
    width: 105px; 
    height: auto;
}

.container-img h1 {
    font-size: 50px; 
    font-weight: bold;
    color: white;
}

.footer-content li {
    margin-bottom: 16px;
}

.footer-content li a {
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: var(--dourado-navbar);
}

.footer-content p {
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 25px;
}

.icons a {
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin: 17px 25px;
    transition: all .40s ease;
}

.icons a:hover {
    color: var(--dourado-navbar);
    transform: translateY(-5px);
}

/*Animações*/
@keyframes appear {
    from {
        opacity: 0;
        translate: -100vw 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
        translate: 100vw 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes gradient {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}


/** Tam 220x220
/* @-webkit-keyframes circle {
    0%{
        transform: rotate(0deg)translate(-105px)rotate(0deg);
    }
    100%{
        transform: rotate(370deg)translate(-110px)rotate(-370deg);
    }
}

@keyframes circle {
    0%{
        transform: rotate(0deg)translate(-110px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(-110px)rotate(-360deg);
    }
} */

/*Tam 330x330*/

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg)translate(-160px)rotate(0deg);
    }

    100% {
        transform: rotate(360deg)translate(-165px)rotate(-360deg);
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg)translate(-165px)rotate(0deg);
    }

    100% {
        transform: rotate(360deg)translate(-165px)rotate(-360deg);
    }
}

/*Responsividade Footer*/

@media(max-width:1690px) {
    .footer {
        padding: 50px 5% 40px;

    }
}

@media(max-width:1120px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;

    }
}

@media(max-width:700px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;

    }
}

/*ESTILO DO MENU MOBILE */

.menu-mobile{

    display: none;

}



/*ESTILO DO MENU MOBILE */